.products {
  &__product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .single-product {
    flex: 1;
    min-width: 25rem;
    border: 2px solid $gray;
    padding: 1.5rem;

    input[type='checkbox'] {
      cursor: pointer;
      display: block;
      width: 1rem;
      height: 1rem;
      margin-bottom: 0.5rem;
    }

    &__price {
      color: $secondary;
      font-weight: bold;
      span {
        font-size: 90%;
      }
    }

    &__description {
      margin-top: 0.25rem;
      color: $gray;
    }
  }
}
