// Colors
$primary: hsl(265, 37%, 49%);
$primary-darker: hsl(265, 58%, 42%);
$dark-gray: hsl(0, 0%, 20%);
$gray: hsl(240, 1%, 55%);
$very-light-gray: hsl(0, 0%, 97%);
$white: hsl(0, 0%, 100%);

// Font
$main-font: 'Lato', sans-serif;
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xl: 3.25rem; // 52px
